body
{
    background-color: #1b6d85;
    width: 1250px;
}

#subject
{
    background-image: url("Imagenes/Fondo_Galaxia.jpg");
    height: 400px;
    width: 1250px;
    align-self: inherit;
}

#space
{
    height: 385px;
    width: 1240px;
}

#escudo
{
    background-color: #761c19;
    width: 200px;
}